.eventPoster{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #355061; */
    cursor: pointer;
}
.img
{
    width: 60%;
    height: 60vh;
    margin: 20px 30px;
}
.eventPoster img:hover{
    transform: scale(0.97);
    /* opacity: 0.5; */
}

.eventPoster img{
    width: 100%;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    transition: all 0.45s ease-out;
}

.eventPoster a{
    width:100%;
}

.colorOverlay{
    background: linear-gradient(to top right, #000 10%, rgba(254, 243, 236,0) 100%);
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    opacity: 0.5;
    border-radius: 5px;
}

.colorOverlay.pastOverlay{
    cursor: pointer;
    transition: all 0.45s ease-in-out;
    background: linear-gradient(to top right, #355061 10%, rgba(254, 243, 236,0) 98%);
}

.colorOverlay.pastOverlay:hover{
    background: #355061;
}

.overlayText{
    width:100%;
    height: 100%;
    position: absolute;
    top:65%;
    background-color: rgba(0,0,0,0);
    padding: 20px;
    line-height: 1.3;
    color: #fef3ec;
}

.PastEventPoster {
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
}

.PastEventPoster h1{
    color: #355061 !important;
}

.PastEventPoster img{
    width: 100%;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    transition: all 0.45s ease-out;
}

.PastEventPoster img:hover{
    transform: scale(0.97);
    /* opacity: 0.5; */
}

a{
    text-decoration: none;
}


@media only screen and (max-width: 798px) {
    .img
    {
        width: 100%;
        margin: 20px 0px;
        height: 50vh;
    }
}

